---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import UnderConstruction from '../components/UnderConstruction.astro';
import '../styles/main.css';
---


<Layout>
<main class="content-wrapper">
  <section> 
    <h1>About Me</h1>
    <UnderConstruction/>
  </section>

</main>
</Layout>
