---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import '../styles/main.css';
---


<Layout>
<main class="content-wrapper">
  <section> 
    <h2>Welcome to Mic's</h2>
  </section>
</main>
</Layout>
