---
import "../styles/main.css"

const updatedDated = "29/09/2025"
---

<footer>
  <div class="content-wrapper">
    <p>Copyright by Michael Victorino</p>
    <p>Last Updated: {updatedDated}</p>
  </div>
</footer>
