---
import '../styles/main.css';
import Logo from './Logo.astro';
---
<header>
    <div class="content-wrapper">
        <nav>
            <div id="header-menu">
                <Logo/>
                <button id="nav-button" type="button">
                    <h4>Menu</h4>
                    <div>&#9776;</div>
                </button> 
           </div>
            <ul id="nav-list">
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/projects">projects</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<script>
    const button = document.getElementById('nav-button');
    button.addEventListener('click', () => {
        let navlist = document.getElementById('nav-list');
        if(navlist.style.display == 'none' || navlist.style.display == "") {
            navlist.style.display = 'flex'; 
        } else if(navlist.style.display == 'flex') {
            navlist.style.display = 'none';
        }
    });

    //if screen size is greater than 1024px
    window.addEventListener('resize', () => {
        let navlist = document.getElementById('nav-list');
        if(document.documentElement.clientWidth >= 1024) {
            navlist.style.display = 'flex';
        }
        else {
            navlist.style.display = 'none';
        }
    });

</script>
